
@{
    ViewBag.Title = "Login | Code2Night.com";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script asp-append-version="true" type='text/javascript' src='/plugins/jquery.min.js'></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
<div class="page-intro">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb">
                    <li>
                        <i class="fa fa-home pr-10"></i>
                        <a href="@Url.Action("Index","Users")">Home</a>
                    </li>
                    <li class="active">Login</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<section class="main-container">

    <div class="container">
        <div class="row">

            <!-- main start -->
            <!-- ================ -->
            <div class="main object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="300">
                <div class="form-block center-block">
                    <h1 class="title">Login</h1>
                    <hr>
                    <div class="form-horizontal">
                        <div class="form-group has-feedback">
                            <label for="inputUserName" class="col-sm-3 control-label">User Name</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="UserName" placeholder="User Name" required>
                                <i class="fa fa-user form-control-feedback"></i>
                                <h3 id="UserStatus"></h3>
                            </div>
                        </div>
                        <div class="form-group has-feedback">
                            <label for="inputPassword" class="col-sm-3 control-label">Password</label>
                            <div class="col-sm-8">
                                <input type="password" class="form-control" id="Password" placeholder="Password" required>
                                <i class="fa fa-lock form-control-feedback"></i>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-8">
                                <div class="checkbox">
                                    <label>
                                        <input id="Remember" type="checkbox"> Remember me.
                                    </label>
                                </div>
                                <div style="display:flex">
                                    <button type="submit"  style="
    height: 39px;
    margin-top: 9px;
" onclick="Login()" class="btn btn-group btn-default btn-sm">Log In</button>
                                    <span style="
    padding: 20px 30px;
"> OR </span>
                                    <a style="
    height: 50px;
    margin-top: 5px;
" href="@(ViewBag.response)"><img src="~/GoogleSignIn.png" /></a>
                                </div>
                            
                            



                            </div>
                        </div>
                    </div>
                </div>
                <p class="text-center space-top">
                    Don't have an account yet?
                    <a href="@Url.Action("Register","Users")">Sign up</a> now.
                </p>
            </div>
            <!-- main end -->

        </div>
    </div>
</section>

@section Scripts
    {
    <script asp-append-version="true" type='text/javascript' src='/plugins/jquery.min.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <!-- Compiled and minified CSS -->
   
    <script>

    var Login=function()
    {
        if ($("#UserName").val() == "") {
            toastr.error("Please Enter UserName !");


            return false;
        }
        if ($("#Password").val() == "") {
            toastr.error("Please Enter Password !");


            return false;
        }
        var promises = GetAjaxDataPromise('@Url.Action("Login", "Users")', { UserName: $("#UserName").val(), Password: $("#Password").val(), Remember: $("#Remember").is("checked") });
        promises.done(function (response) {
            console.log(response);
            if (response[0] === "0") {
                console.log(response);
                toastr.error(response[1]);


            }
            else {
                var data = response;
                if (data[1] == "Admin")
                    window.location.href = '@Url.Action("index", "DashboardGraph")';
                else
                    window.location.href = '@Url.Action("index", "Users")';
            }

        });
        promises.fail(function (data) { console.log(data)})
    }
    </script>
}
