@model IEnumerable<Code2Night.DAL.Common.Blog>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

}
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Blogs</h1>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content" style="width:100%;">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Blogs</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                    <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
        <div class="card-body p-0">
            <table class="table table-striped projects">
                <thead>
                    <tr>
                        <th style="width: 1%">
                            #
                        </th>
                        <th style="width: 15%">
                            Title
                        </th>
                        <th style="width: 15%">
                            Blog Date
                        </th>
                        <th style="width: 15%">
                            Blog URL
                        </th>
                        <th style="width: 15%">
                            Blog Month
                        </th>
                        <th style="width: 15%">
                            Tags
                        </th>
                       
                        <th style="width: 20%">
                           
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @item.Id
                            </td>
                            <td>
                                @item.Title
                            </td>
                            <td>
                                
                                    @item.Date
                                
                               

                            </td>
                            <td>
                                @item.BlogUrl
                            </td>
                            <td >
                                @item.BlogMonth
                            </td>
                            <td  >
                                @item.Tags
                            </td>
                           

                            <td class="project-actions text-right">
                                <a class="btn btn-danger btn-sm" href='@Url.Action("Delete", "Blog", new { Blogid = item.Id })' onclick="return confirm('Are you sure you want to Delete this blog?')">
                                    <i class="fas fa-trash">
                                    </i>
                                    Delete
                                </a>
                                <a class="btn btn-success btn-sm" href='@Url.Action("BlogIsApprovedUpdate", "Blog", new { Blogid = item.Id })' onclick="return confirm('Are you sure you want to approved this blog?')">
                                    <i class="fas fa-check">
                                    </i>
                                    Approved
                                </a>
                                <a class="btn btn-success btn-sm" href="@Url.Action("ViewBlogToApproved", "Blog", new { Blogid = item.BlogUrl })" onclick="return confirm('Are you sure you want to Delete this blog?')">
                                    <i class="fas fa-street-view">
                                    </i>
                                    View
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->

</section>
<!-- /.content -->
