@model List<Code2Night.DAL.Common.Blog>
@using Code2Night.DAL.Common
@using System.Web.Mvc
@{
    ViewBag.Title = "MyBlogs | Code2Night.com";
    ViewBag.MetaDescription = "Welcome To Code2night, write your own blog and reach to the whole world.";
    ViewBag.MetaKeywords = "Code2Night,Blogs,Stripe,Slick,MVC,Exception Handling,Code,Programming,Tutotials,Slick Slider,IIS,Internet Information Services";
    ViewBag.Canonical = "https://www.code2night.com/Blog/MyBlogs";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var count = 1;
}

<section class="main-container">

    <div class="container">
        <div class="row">

            <!-- main start -->
            <!-- ================ -->
            <div class="main col-md-12">

                <!-- page-title start -->
                <!-- ================ -->
                <h1 class="page-title">Your Blogs Timeline</h1>
                <div class="separator-2"></div>
                @*<p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas nulla suscipit <br class="hidden-sm hidden-xs"> unde rerum mollitia dolorum.</p>*@
                <!-- page-title end -->

                <div class="row">
                    <div class="col-md-10 col-md-offset-1">

                        <!-- timeline start -->
                        <div class="timeline row">

                            <div class="timeline-icon hidden-xs"><i class="fa fa-angle-double-up"></i></div>


                            <!-- timeline item end -->

                            @foreach (var mnth in Model.OrderByDescending(x => x.Date).GroupBy(x => x.BlogMonth).Select(x => x.Key).ToList())
                            {
                                <div class="timeline-date-label clearfix">@mnth</div>
                                foreach (var item in Model.Where(x => x.BlogMonth == mnth).ToList().OrderByDescending(x => x.Date))
                                {

                                    <div class="timeline-item @(count%2==0?"pull-right":"")  object-non-visible myblog" data-animation-effect="fadeInUpSmall" data-effect-delay="200">
                                        <!-- blogpost start -->

                                        <article class="clearfix blogpost">
                                            @if (!string.IsNullOrWhiteSpace(item.VideoEmbed))
                                            {
                                                <div class="embed-responsive embed-responsive-16by9">
                                                    @Html.Raw(item.VideoEmbed)  @*<iframe class="embed-responsive-item" src="http://www.youtube.com/embed/91J8pLHdDB0"></iframe>*@
                                                </div>
                                            }
                                            <div class="blogpost-body">
                                                <div class="post-info">
                                                    <span class="day">@item.Date.ToString("dd")</span>
                                                    <span class="month">@item.Date.ToString("MMM yyyy")</span>
                                                </div>
                                                <div class="blogpost-content">
                                                    <header>
                                                        <h2 class="title"><a>@item.Title</a></h2>
                                                        <div class="submitted"><i class="fa fa-user pr-5"></i> by <a href="#">@item.AuthorName</a></div>
                                                    </header>
                                                    <div id="body">@Html.Raw(item.BlogIntroduction)</div>
                                                </div>
                                            </div>
                                            <footer class="clearfix">
                                                <ul class="links pull-left" style="display:block;width:100%">
                                                    <li><i class="fa fa-comment-o pr-5"></i> <a href="~/Blog/MyBlog/@item.BlogUrl#disqus_thread"></a> |</li>
                                                    <li><i class="fa fa-tags pr-5"></i> <a href="#">@(item.Tags?.Replace("-"," "))</a></li>
                                                </ul>
                                                <a class="pull-right link" href="~/Blog/MyBlog/@System.Web.HttpUtility.UrlEncode(item.BlogUrl)"><span>Read more</span></a>@Html.Raw(Html.EncodedActionLink("Edit", "EditBlog", "Blog", new { Id = item.Id }, null, "fa fa-edit"))
                                            </footer>
                                        </article>
                                        <!-- blogpost end -->
                                    </div>


                                    count++;
                                }
                            }
                            <!-- timeline item start -->



                        </div>
                        <!-- timeline end -->

                        <div class="text-center">
                            <a href="" class="btn btn-default">Load more</a>
                        </div>

                    </div>
                </div>

            </div>
            <!-- main end -->

        </div>
    </div>
    <script id="dsq-count-scr" src="//codetonight.disqus.com/count.js" async></script>
</section>

