@model List<Code2Night.DAL.Common.Income>
@{
    ViewData["Title"] = "InsertCategory";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<script type="text/javascript" src="/plugins/jquery.min.js"></script>
<section class="main-container" style="        margin-top: 0px;
        width: 100%
">

    <div class="container" style="padding: 10px 20px; border: 1px solid silver;">
        <div class="row">
            <div class="" style="width:100%">
                <h2 class="title">Income</h2>
                <hr>
                <div class="form-horizontal">
                    <div class="form-group has-feedback">
                        <div class="col-md-12 col-sm-12">
                            <label for="inputName" class="col-sm-3 control-label">Amount <span class="text-danger small">*</span></label>
                            <div class="col-sm-12 col-md-12">
                                <input type="text" class="form-control" id="Amount" style="max-width:350px" placeholder="Amount" required="">

                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <label for="inputName" class="col-sm-3 control-label">Date <span class="text-danger small">*</span></label>
                            <div class="col-sm-12 col-md-12">
                                <input type="date" class="form-control" id="date" style="max-width:350px" placeholder="Payment Date" required="">

                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <label for="inputName" class="col-sm-3 control-label">Mode <span class="text-danger small">*</span></label>
                            <div class="col-sm-12 col-md-12">
                                <select id="mode" style="max-width:350px" class="form-control" name="Mode"><option>Please Select</option><option value="Freelancer">Freelancer</option><option value="Upwork">Upwork</option><option value="TranferWise">TranferWise</option><option value="Other">Other</option></select>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <div class="col-md-12 col-sm-12"> <input type="submit" style="margin-top:31px;" name="buttonsubmit" id="InsertIncome" onclick="InsertIncome()" class="btn btn-primary" value="Save"></div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- main end -->

        </div>
    </div>
</section>
<div class="card-body p-0">
    <table class="table table-striped projects">
        <thead>
            <tr>
                <th style="width: 1%">
                    #
                </th>
                <th style="width: 15%">
                    Amount
                </th>
                <th style="width: 15%">
                    Payment Date
                </th>
                <th style="width: 15%">
                    Payment Mode
                </th>
                <th style="width: 20%">

                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.IncomeId
                    </td>
                    <td>
                        @item.Amount
                    </td>
                    <td>
                        @item.PaymentDate.ToString("dd-MMM-yyyy")
                    </td>
                    <td>
                        @item.PaymentMode
                    </td>
                    <td class="project-actions text-right">
                        <a class="btn btn-danger btn-sm" href="@Url.Action("Delete", "IncomeDashBoard", new { id = item.IncomeId })" onclick="return confirm('Are you sure you want to Delete this category?')">
                            <i class="fas fa-trash">
                            </i>
                            Delete
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<script>

    function GetAjaxDataPromise(url, postData) {

        var promise = $.post(url, postData, function (promise, status) {
        });
        return promise;
    };
    $(function () {
        $("#InsertIncome").click(function () {
            if ($("#Amount").val().trim() == "") {
                alert("Please Enter Amount.");
                return false;
            }
            else if ($("#date").val().trim() == "") {
                alert("Please Select Payment Date.");
                return false;
            }
            else if ($("#mode").val().trim() == "") {
                alert("Please Select Payment Mode.");
                return false;
            }
            else {
                var promise = GetAjaxDataPromise("/IncomeDashBoard/InsertIncome", { Amount: $("#Amount").val().trim(), PaymentDate: $("#date").val().trim(), PaymentMode: $("#mode").val().trim() });

                promise.done(function (response) {
                    alert("Saved Successfully");
                    window.location.reload();
                })

            }
        });
    });





</script>