@model List<Code2Night.DAL.Common.Blog>
    @foreach (var item in Model.Where(x => x.IsApproved).OrderByDescending(x => x.Date))
    {
    <article class="clearfix blogpost object-non-visible animated object-visible fadeInUpSmall" data-animation-effect="fadeInUpSmall" data-effect-delay="200">
        <div class="blogpost-body">
            <div class="post-info">
                <span class="day">@item.Date.ToString("dd")</span>
                <span class="month">@item.Date.ToString("MMM yyyy")</span>
            </div>
            <div class="blogpost-content">
                <header>
                    <h2 class="title" style="font-weight: 400 !important;"><a target="_blank" href="~/Blog/MyBlog/@System.Web.HttpUtility.UrlEncode(item.BlogUrl)">@item.Title</a></h2>
                    <div class="submitted" style="font-size:14px !important;">
                        <i class="fa fa-user pr-5"></i> by <a href="/Blog/Author/@(item.AuthorId)-@(item.AuthorName)">@item.AuthorName</a><a style="color: black;margin-left: 16px;"><i class="fa fa-eye"></i>@item.TotalView</a>
                        @if (!string.IsNullOrEmpty(item.VideoEmbed))
                        {
                        <a onclick="ShowVideo('@item.VideoEmbed')" data-toggle="modal" data-target="#myModal" style="margin-left:5px;font-size:14px;color:black;" href="http://www.youtube.com/">

                            <i class="fa fa-youtube-play" style="color: #e84c3d
"></i>  Watch Video
                        </a>
                        }
                    </div>

                </header>
                <p style="font-size:13px !important">@item.BlogIntroduction</p>
            </div>
        </div>

    </article>
}